.circle{
	margin: auto;
    width: 80%;
    font-size: 2vw;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
}

#totalgames{
    font-size:5vw;
}

@media only screen and (max-width: 1300px){
    .circle{

    }

    #totalgames{
        
    }
}